*.zip
.*.lck
*.pro
*~
~$*
*.l#?
*.s#?
*.b#?
firmware/hardware/QuadClass_Atmega128RFA_Arduino_Addon/
firmware/libraries/QuadClass_AHRS/
firmware/libraries/QuadClass_LSM9DS1/
firmware/libraries/QuadClass_Sensor/
firmware/libraries/RotaryEncoder
firmware/libraries/quad_remote
firmware/libraries/radio
starter
.release
*.cam

.DS_Store
.test.out
test
